* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.accentBW {
    background-color: #0099ff;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

li {
    list-style-type: none;
}