* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.accentBW {
    background-color: #0099ff;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.header {
    grid-area: header;
    display: grid;
    gap: 1rem;
}

.header>.first-part {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.header>.second-part {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

button {
    height: 25px;
    width: 75px;
    border: 0;
    border-radius: 20px;
}

.main {
    background-color: lightgray;
    grid-area: main;
    gap: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "project ad"
        "project trend";
}

.project {
    grid-area: project;
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.ad {
    grid-area: ad;
}

.trend {
    grid-area: trend;
}

li {
    list-style-type: none;
}